<html>
    <head>
        <title>A very simple web app</title>
    </head>
    <body>
        <div id="view"></div>
        <p>Today is: {{currentDate}}</p>
        <script src="/static/js/app.js"></script>
    </body>
</html>
